[submodule "emontx4"]
	path = emontx4
	url = https://github.com/openenergymonitor/emontx4
        branch = main
[submodule "emontx3"]
	path = emontx3
	url = https://github.com/openenergymonitor/emontx3
[submodule "emonpi"]
	path = emonpi
	url = https://github.com/openenergymonitor/emonpi
[submodule "EmonScripts"]
	path = EmonScripts
	url = https://github.com/openenergymonitor/EmonScripts
[submodule "emonhub"]
	path = emonhub
	url = https://github.com/openenergymonitor/emonhub
[submodule "emoncms"]
	path = emoncms
	url = https://github.com/emoncms/emoncms
[submodule "emonbase"]
	path = emonbase
	url = https://github.com/openenergymonitor/emonbase
        branch = main
[submodule "learn"]
	path = learn
	url = https://github.com/openenergymonitor/learn
        branch = master
[submodule "emonth2"]
	path = emonth2
	url = https://github.com/openenergymonitor/emonth2
[submodule "emonpi2"]
	path = emonpi2
	url = git@github.com:openenergymonitor/emonpi2.git
